body {
    font-family: 'Indie Flower', sans-serif;
    background: #f6f3f1;
    font-size: 14px;
}

.primary {
    color: #BD081C;
}

.secondary {
    color: #F1A397;
}

.third {
    color: #93C2D6;
}

.fourth {
    color: #F2C438;
}

.fifth {
    color: #FBDB2F;
}

.center-container {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    margin-top: -100px;
    width: 480px;
    margin-left: -240px;
}

span.light {
    text-align: center;
    display: block;
    margin-top: 55px;
    font-size: 11px;
}

.praise-counter {
    position: absolute;
    bottom: 1px;
    text-align: center;
    width: 100%;
}

.heart {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
  }

  .heart.hover {
    background-position: -2800px 0;
    transition: background 1s steps(28);
    animation: fave-heart 1s steps(28);
  }

  @keyframes fave-heart {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -2800px 0;
    }
  }
  